.canvas {
	background: #c2391c;
	height: 580px;
	width: 950px;
	margin: 80px auto;
	position: relative;
  }
  
  .apple {
	height: 90px;
	width: 90px;
	background: #a12b2b;
	border-radius: 48%;
	position: absolute;
	bottom: 100px;
	left: 260px; /* shifted */
	z-index: 1;
  }
  
  .vase {
	height: 280px;
	width: 180px;
	border-right: 2px solid white;
	border-left: 2px solid white;
	position: absolute;
	bottom: 120px;
	left: 370px;
	z-index: 1;
  }
  
  .vase-bottom {
	height: 80px;
	width: 100%;
	background: rgba(255, 255, 255, 0.4);
	position: absolute;
	border-radius: 50%;
	bottom: -40px;
	border-bottom: 2px solid white;
  }
  
  .vase-top {
	height: 80px;
	width: 100%;
	position: absolute;
	top: -42px;
	border-radius: 50%;
	border: 2px solid white;
  }
  
  .flower {
	height: 390px;
	width: 45px;
	transform: rotate(-18deg);
	position: absolute;
	bottom: 0;
	right: 72px;
  }
  
  .flower.two {
	transform: rotate(28deg);
	right: 40px;
  }
  
  .stem {
	height: 100%;
	width: 8px;
	background: #2c823b;
  }
  
  .petals {
	height: 45px;
	width: 115px;
	border-radius: 50%;
	position: absolute;
	top: -30px;
	left: -52px;
  }
  
  .petal {
	background: #ffe54d;
	height: 70px;
	width: 16px;
	border-radius: 30% 30% 70% 70%;
	position: absolute;
	transform: rotate(-66deg);
	left: 16px;
	bottom: -10px;
  }
  
  .petal.two {
	transform: rotate(-88deg);
	bottom: -24px;
  }
  
  .petal.three {
	transform: rotate(-100deg);
	bottom: -36px;
  }
  
  .petal.four {
	transform: rotate(-180deg);
	bottom: 8px;
	left: 55px;
  }
  
  .petal.five {
	transform: rotate(-215deg);
	bottom: 5px;
	left: 30px;
  }
  
  .ruler {
	background: linear-gradient(
	  90deg,
	  rgba(190, 190, 190, 1) 0%,
	  rgba(80, 80, 80, 1) 100%
	);
	width: 570px;
	height: 18px;
	position: absolute;
	bottom: 185px;
	left: 65px;
	transform: rotate(-18deg) skew(35deg);
  }
  
  .plate {
	height: 60px;
	width: 170px;
	background: rgba(255, 255, 255, 0.4);
	border-radius: 50%;
	position: absolute;
	top: 210px;
	right: 65px;
	z-index: 1;
	border: 2px solid white;
  }
  
  .cake {
	width: 0;
	height: 0;
	border-top: 35px solid transparent;
	border-bottom: 35px solid transparent;
	border-left: 110px solid pink;
	transform: rotate(158deg);
	position: absolute;
	bottom: 0;
	left: 20px;
  }
  
  .candle {
	background: white;
	height: 46px;
	width: 5px;
	position: absolute;
	bottom: 58px;
	right: 54px;
  }
  
  .flame {
	background: #ffeb3b;
	opacity: 0.5;
	height: 28px;
	width: 14px;
	border-radius: 50%;
	position: absolute;
	bottom: 110px;
	right: 49px;
	animation: 0.75s linear 1s infinite alternate-reverse flicker;
  }
  
  @keyframes flicker {
	from {
	  transform: rotate(0deg);
	  opacity: 0.5;
	}
	to {
	  transform: rotate(-25deg);
	  opacity: 1;
	}
  }